# 서울시 생활인구 전처리

### 1. 데이터 불러오기

In [ ]:
import pandas as pd

In [ ]:
import os

path = "./data/생활인구"
file_path = os.listdir(path)
file_list = [file for file in file_path if file.endswith(".csv")]

#파일 목록 확인
print(file_list)
print(len(file_list))

['LOCAL_PEOPLE_DONG_202101.csv', 'LOCAL_PEOPLE_DONG_202102.csv', 'LOCAL_PEOPLE_DONG_202103.csv', 'LOCAL_PEOPLE_DONG_202104.csv', 'LOCAL_PEOPLE_DONG_202105.csv', 'LOCAL_PEOPLE_DONG_202106.csv', 'LOCAL_PEOPLE_DONG_202107.csv', 'LOCAL_PEOPLE_DONG_202108.csv', 'LOCAL_PEOPLE_DONG_202109.csv', 'LOCAL_PEOPLE_DONG_202110.csv', 'LOCAL_PEOPLE_DONG_202111.csv', 'LOCAL_PEOPLE_DONG_202112.csv']
12

In [ ]:
#csv 파일을 데이터프레임 형태로 읽어서 가져온다.
pop_1 = pd.read_csv('./data/생활인구/LOCAL_PEOPLE_DONG_202101.csv', encoding='utf-8', index_col = False)
pop_2 = pd.read_csv('./data/생활인구/LOCAL_PEOPLE_DONG_202102.csv', encoding='utf-8', index_col = False)
pop_3 = pd.read_csv('./data/생활인구/LOCAL_PEOPLE_DONG_202103.csv', encoding='utf-8', index_col = False)
pop_4 = pd.read_csv('./data/생활인구/LOCAL_PEOPLE_DONG_202104.csv', encoding='utf-8', index_col = False)
pop_5 = pd.read_csv('./data/생활인구/LOCAL_PEOPLE_DONG_202105.csv', encoding='utf-8', index_col = False)
pop_6 = pd.read_csv('./data/생활인구/LOCAL_PEOPLE_DONG_202106.csv', encoding='utf-8', index_col = False)
pop_7 = pd.read_csv('./data/생활인구/LOCAL_PEOPLE_DONG_202107.csv', encoding='utf-8', index_col = False)
pop_8 = pd.read_csv('./data/생활인구/LOCAL_PEOPLE_DONG_202108.csv', encoding='utf-8', index_col = False)
pop_9 = pd.read_csv('./data/생활인구/LOCAL_PEOPLE_DONG_202109.csv', encoding='utf-8', index_col = False)
pop_10 = pd.read_csv('./data/생활인구/LOCAL_PEOPLE_DONG_202110.csv', encoding='utf-8', index_col = False)
pop_11 = pd.read_csv('./data/생활인구/LOCAL_PEOPLE_DONG_202111.csv', encoding='utf-8', index_col = False)
pop_12 = pd.read_csv('./data/생활인구/LOCAL_PEOPLE_DONG_202112.csv', encoding='utf-8', index_col = False)

In [ ]:
pop_12.head() #처음 다섯 개의 행 출력

,기준일ID,시간대구분,행정동코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20211201,0,11260630,20187.7305,772.5255,367.0029,356.4986,505.7888,794.0356,698.4104,...,844.4088,785.6802,885.2464,661.5399,774.7764,823.5129,917.4748,796.3051,706.6102,1385.8293
1,20211201,0,11530740,32071.2422,1239.9129,566.1704,780.9319,740.2142,1046.2378,1085.8823,...,1140.6707,1274.7953,1223.0601,1081.1128,1278.8342,1411.5230,1415.4105,1280.3025,965.0609,2518.9495
2,20211201,0,11380560,30217.5693,1077.6700,631.8348,894.2192,790.0118,870.7458,794.6855,...,1041.7443,1051.2382,1234.9909,1064.7638,1395.5641,1233.6247,1445.3104,1108.6644,914.6637,2590.5170
3,20211201,0,11200560,16120.8393,359.7251,206.7574,355.8605,642.2905,756.8398,676.7586,...,789.9147,734.2576,850.6689,708.2491,679.2909,496.4132,648.7046,516.6264,357.8356,824.8139
4,20211201,0,11215810,37286.6025,1781.6765,1506.1813,1740.1873,924.8098,848.2536,707.1907,...,949.2075,821.4771,1526.2988,2054.9852,2176.2063,1579.4399,1320.8634,937.4298,695.0840,1562.6486

In [ ]:
pop_12.info() #데이터 정보 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315456 entries, 0 to 315455
Data columns (total 32 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준일ID            315456 non-null  int64
 1   시간대구분            315456 non-null  int64
 2   행정동코드            315456 non-null  int64
 3   총생활인구수           315456 non-null  float64
 4   남자0세부터9세생활인구수    315456 non-null  float64
 5   남자10세부터14세생활인구수  315456 non-null  float64
 6   남자15세부터19세생활인구수  315456 non-null  float64
 7   남자20세부터24세생활인구수  315456 non-null  float64
 8   남자25세부터29세생활인구수  315456 non-null  float64
 9   남자30세부터34세생활인구수  315456 non-null  float64
 10  남자35세부터39세생활인구수  315456 non-null  float64
 11  남자40세부터44세생활인구수  315456 non-null  float64
 12  남자45세부터49세생활인구수  315456 non-null  float64
 13  남자50세부터54세생활인구수  315456 non-null  float64
 14  남자55세부터59세생활인구수  315456 non-null  float64
 15  남자60세부터64세생활인구수  315456 non-null  float64
 16  남자65세부터69세생활인구수  315456 non-null  float64
 17  남자70세이상생활인구수     315456 non-null  float64
 18  여자0세부터9세생활인구수    315456 non-null  float64
 19  여자10세부터14세생활인구수  315456 non-null  float64
 20  여자15세부터19세생활인구수  315456 non-null  float64
 21  여자20세부터24세생활인구수  315456 non-null  float64
 22  여자25세부터29세생활인구수  315456 non-null  float64
 23  여자30세부터34세생활인구수  315456 non-null  float64
 24  여자35세부터39세생활인구수  315456 non-null  float64
 25  여자40세부터44세생활인구수  315456 non-null  float64
 26  여자45세부터49세생활인구수  315456 non-null  float64
 27  여자50세부터54세생활인구수  315456 non-null  float64
 28  여자55세부터59세생활인구수  315456 non-null  float64
 29  여자60세부터64세생활인구수  315456 non-null  float64
 30  여자65세부터69세생활인구수  315456 non-null  float64
 31  여자70세이상생활인구수     315456 non-null  float64
dtypes: float64(29), int64(3)
memory usage: 77.0 MB

### 2. 데이터 정리  
- 필요한 열만 추출

In [ ]:
pop_1 = pop_1[['기준일ID','시간대구분', '행정동코드', '총생활인구수']]
pop_2 = pop_2[['기준일ID','시간대구분', '행정동코드', '총생활인구수']]
pop_3 = pop_3[['기준일ID','시간대구분', '행정동코드', '총생활인구수']]
pop_4 = pop_4[['기준일ID','시간대구분', '행정동코드', '총생활인구수']]
pop_5 = pop_5[['기준일ID','시간대구분', '행정동코드', '총생활인구수']]
pop_6 = pop_6[['기준일ID','시간대구분', '행정동코드', '총생활인구수']]
pop_7 = pop_7[['기준일ID','시간대구분', '행정동코드', '총생활인구수']]
pop_8 = pop_8[['기준일ID','시간대구분', '행정동코드', '총생활인구수']]
pop_9 = pop_9[['기준일ID','시간대구분', '행정동코드', '총생활인구수']]
pop_10 = pop_10[['기준일ID','시간대구분', '행정동코드', '총생활인구수']]
pop_11 = pop_11[['기준일ID','시간대구분', '행정동코드', '총생활인구수']]
pop_12 = pop_12[['기준일ID','시간대구분', '행정동코드', '총생활인구수']]

In [ ]:
pop_1.head() #처음 다섯 개의 행 출력

      기준일ID  시간대구분     행정동코드      총생활인구수
0  20210101      0  11110515  14473.8890
1  20210101      0  11110530  13299.5313
2  20210101      0  11110550  15518.3772
3  20210101      0  11110600   5108.9481
4  20210101      0  11110700   7907.7246

In [ ]:
# 데이터 결합
pop = pd.concat([pop_1, pop_2, pop_3, pop_4, pop_5, pop_6, pop_7, pop_8, pop_9, pop_10, pop_11, pop_12], ignore_index = True)

In [ ]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3714240 entries, 0 to 3714239
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   기준일ID   int64
 1   시간대구분   int64
 2   행정동코드   int64
 3   총생활인구수  float64
dtypes: float64(1), int64(3)
memory usage: 113.3 MB

In [ ]:
pop.tail() #마지막 다섯 개의 행 출력

            기준일ID  시간대구분     행정동코드      총생활인구수
3714235  20211231     23  11470540  21687.6749
3714236  20211231     23  11740685  56597.5455
3714237  20211231     23  11500611  33165.7067
3714238  20211231     23  11215810  36194.0265
3714239  20211231     23  11560550  22589.9182

- 필요없는 시간대 제거

In [ ]:
index = pop[(pop['시간대구분'] == 0) | (pop['시간대구분'] == 1) | (pop['시간대구분'] == 2) | (pop['시간대구분'] == 3)].index
index

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            3705750, 3705751, 3705752, 3705753, 3705754, 3705755, 3705756,
            3705757, 3705758, 3705759],
           dtype='int64', length=619040)

In [ ]:
pop = pop.drop(index)

In [ ]:
indexs = list(pop.index)
print(indexs[-1])
print(len(pop))

3714239
3095200

In [ ]:
#인덱스 번호 순서대로 정렬
pop.reset_index(inplace = True, drop = True)
indexs = list(pop.index)
print(indexs[-1])
print(len(pop))

3095199
3095200

In [ ]:
pop.head()

      기준일ID  시간대구분     행정동코드      총생활인구수
0  20210101      4  11650610  19963.0344
1  20210101      4  11650620  26474.4848
2  20210101      4  11650621  25355.3245
3  20210101      4  11650651  43088.2497
4  20210101      4  11650652  27376.8037

### 3. 결측치확인

In [ ]:
pop.isnull().sum()

기준일ID     0
시간대구분     0
행정동코드     0
총생활인구수    0
dtype: int64

결측치 없음

### 4. 필드계산  
- 행정동별 시간대별 생활인구수 평균

In [ ]:
pop_mean_time = pop.groupby(['행정동코드', '시간대구분'], as_index = False)['총생활인구수'].mean()

In [ ]:
#총생활인구수를 기준으로 데이터 정렬
pop_mean_time.sort_values(by='총생활인구수')

         행정동코드  시간대구분         총생활인구수
291   11110690     15    3780.447766
290   11110690     14    3795.154119
292   11110690     16    3805.332811
289   11110690     13    3821.325290
58    11110540     22    3853.801375
...        ...    ...            ...
7352  11680640     16  136156.911484
7348  11680640     12  139317.294185
7351  11680640     15  140219.193719
7349  11680640     13  141414.694195
7350  11680640     14  141953.027819

[8480 rows x 3 columns]

- 행정동별 생활인구

In [ ]:
pop_mean = pop.groupby('행정동코드', as_index = False)['총생활인구수'].sum()
pop_mean['총생활인구평균'] = pop_mean['총생활인구수'] / (20*365) # 스마트 쉼터 미운영 시간(00시 01시 02시 03시) 제외하고 계산

In [ ]:
'''pm =  pop.groupby('행정동코드', as_index = False)['총생활인구수'].mean()
pm.sort_values(by = '총생활인구수')'''

In [ ]:
pop_mean.sort_values(by='총생활인구평균') #총생활인구평균 기준으로 데이터 정렬

        행정동코드        총생활인구수        총생활인구평균
14   11110690  3.396575e+07    4652.842033
232  11470610  3.908731e+07    5354.426317
2    11110540  4.273785e+07    5854.499574
422  11740690  4.553238e+07    6237.312357
5    11110570  4.872514e+07    6674.677139
..        ...           ...            ...
275  11545510  4.602962e+08   63054.278002
214  11440660  4.917248e+08   67359.563208
341  11650530  5.002168e+08   68522.853118
287  11560540  6.782368e+08   92909.150518
367  11680640  7.677231e+08  105167.554506

[424 rows x 3 columns]

In [ ]:
pop_mean = pop_mean.drop('총생활인구수', axis = 1) #총생활인구수 제외하고 데이터 출력
pop_mean

        행정동코드       총생활인구평균
0    11110515  16893.502272
1    11110530  24906.901952
2    11110540   5854.499574
3    11110550  14709.096934
4    11110560  18876.879438
..        ...           ...
419  11740650  25590.867720
420  11740660  26728.614136
421  11740685  51557.923449
422  11740690   6237.312357
423  11740700  26473.840781

[424 rows x 2 columns]

### 4-1. 행정동 추가

기존 오류2동 면적: 1.4(항동) + 3.2(오류2동) = 4.6

항동: 기존 면적의 약 30% (0.30434783)  
오류2동: 기존 면적의 약 70% (0.69565217)  

오류2동 데이터(50982.03)을 항동, 오류2동으로 나눠서 처리  
항동: 데이터값 * 0.3  
오류2동: 데이터값 * 0.7

In [ ]:
pop_mean[pop_mean['행정동코드'] == 11530780] #행정동코드가 11530780인 행 출력

        행정동코드       총생활인구평균
273  11530780  50982.030485

In [ ]:
index = pop_mean[pop_mean['행정동코드'] == 11530780].index
index

Int64Index([273], dtype='int64')

In [ ]:
ori = pop_mean.loc[273,'총생활인구평균']
or2 = ori*0.7
hd = ori*0.3

print(ori, or2+hd, or2, hd)

50982.030485424664 50982.030485424664 35687.42133979726 15294.609145627399

In [ ]:
pop_mean.loc[273,'총생활인구평균'] = or2
pop_mean[pop_mean['행정동코드'] == 11530780]

        행정동코드      총생활인구평균
273  11530780  35687.42134

In [ ]:
pop_mean.tail(2)

        행정동코드       총생활인구평균
422  11740690   6237.312357
423  11740700  26473.840781

In [ ]:
pop_mean.loc[424] = [11530800, hd]  # 424 인덱스에 있는 데이터 정보 출력
pop_mean.tail(2)

          행정동코드       총생활인구평균
423  11740700.0  26473.840781
424  11530800.0  15294.609146

In [ ]:
pop_mean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425 entries, 0 to 424
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   행정동코드    425 non-null    float64
 1   총생활인구평균  425 non-null    float64
dtypes: float64(2)
memory usage: 26.1 KB

In [ ]:
pop_mean['행정동코드'] = pop_mean['행정동코드'].astype(int) # 실수형 데이터를 정수형 데이터로 변환
pop_mean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425 entries, 0 to 424
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   행정동코드    425 non-null    int32
 1   총생활인구평균  425 non-null    float64
dtypes: float64(1), int32(1)
memory usage: 24.5 KB

In [ ]:
pop_mean

        행정동코드       총생활인구평균
0    11110515  16893.502272
1    11110530  24906.901952
2    11110540   5854.499574
3    11110550  14709.096934
4    11110560  18876.879438
..        ...           ...
420  11740660  26728.614136
421  11740685  51557.923449
422  11740690   6237.312357
423  11740700  26473.840781
424  11530800  15294.609146

[425 rows x 2 columns]

### 5. 지역코드 결합

In [ ]:
code = pd.read_excel('./data/생활인구/행정동코드_매핑정보_20200325.xlsx') #행정동코드_매핑정보 엑셀 파일 가져오기
code

     통계청행정동코드  행자부행정동코드 시도명 시군구명  행정동명
0     1101053  11110530  서울  종로구   사직동
1     1101054  11110540  서울  종로구   삼청동
2     1101055  11110550  서울  종로구   부암동
3     1101056  11110560  서울  종로구   평창동
4     1101057  11110570  서울  종로구   무악동
..        ...       ...  ..  ...   ...
420   1125070  11740690  서울  강동구  둔촌1동
421   1125071  11740700  서울  강동구  둔촌2동
422   1125072  11740570  서울  강동구  암사1동
423   1125073  11740610  서울  강동구  천호2동
424   1125074  11740685  서울  강동구    길동

[425 rows x 5 columns]

In [ ]:
code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   통계청행정동코드  425 non-null    int64
 1   행자부행정동코드  425 non-null    int64
 2   시도명       425 non-null    object
 3   시군구명      425 non-null    object
 4   행정동명      425 non-null    object
dtypes: int64(2), object(3)
memory usage: 16.7+ KB

In [ ]:
code = code[['행자부행정동코드', '시군구명', '행정동명']] #가져온 엑셀 파일에서 필요한 데이터만 출력

In [ ]:
code.rename(columns={'행자부행정동코드':'행정동코드'}, inplace = True) #행자부행정동코드 컬럼의 이름을 행정동코드로 변환

C:\Users\user\AppData\Local\Temp\ipykernel_11776\3598568178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  code.rename(columns={'행자부행정동코드':'행정동코드'}, inplace = True)

In [ ]:
code #데이터 출력

        행정동코드 시군구명  행정동명
0    11110530  종로구   사직동
1    11110540  종로구   삼청동
2    11110550  종로구   부암동
3    11110560  종로구   평창동
4    11110570  종로구   무악동
..        ...  ...   ...
420  11740690  강동구  둔촌1동
421  11740700  강동구  둔촌2동
422  11740570  강동구  암사1동
423  11740610  강동구  천호2동
424  11740685  강동구    길동

[425 rows x 3 columns]

In [ ]:
pop_final = pd.merge(code, pop_mean, on = '행정동코드') #code와 pop_mean파일을 행정동코드 기준으로 병합

In [ ]:
pop_final.info() #데이터 정보 확인

<class 'pandas.core.frame.DataFrame'>
Int64Index: 425 entries, 0 to 424
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   행정동코드    425 non-null    int64
 1   시군구명     425 non-null    object
 2   행정동명     425 non-null    object
 3   총생활인구평균  425 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 16.6+ KB

In [ ]:
pop_final #데이터 출력

        행정동코드 시군구명  행정동명       총생활인구평균
0    11110530  종로구   사직동  24906.901952
1    11110540  종로구   삼청동   5854.499574
2    11110550  종로구   부암동  14709.096934
3    11110560  종로구   평창동  18876.879438
4    11110570  종로구   무악동   6674.677139
..        ...  ...   ...           ...
420  11740690  강동구  둔촌1동   6237.312357
421  11740700  강동구  둔촌2동  26473.840781
422  11740570  강동구  암사1동  27949.557110
423  11740610  강동구  천호2동  44534.126969
424  11740685  강동구    길동  51557.923449

[425 rows x 4 columns]

In [ ]:
pop_final[pop_final['행정동명'] == '오류2동'] #행정동명이 오류2동인 데이터 출력

        행정동코드 시군구명  행정동명      총생활인구평균
270  11530780  구로구  오류2동  35687.42134

In [ ]:
pop_final.to_csv('./output/생활인구평균425.csv', encoding = 'cp949', index = False) # 저장